<form (ngSubmit)="handleSubmit()">
    <label for="wineQuery">Search for a wine</label>
    <input type="text" name="wineQuery" [(ngModel)]="wineQuery"/>
    <label for="maxPrice">Max price</label>
    <input type="number" name="maxPrice" [(ngModel)]="maxPrice"/>
    <button type="submit">Get recommendation</button>
</form>

@if (wineRecommendation$ | async; as wineRecommendation) {
@if (wineRecommendation.recommendedWines.length > 0){
<table>
    <thead>
        <tr>
            <th>Wine</th>
            <th>Rating</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        
        <tr>
            <td>{{ wineRecommendation.recommendedWines[0].title }}</td>
            <td>{{ wineRecommendation.recommendedWines[0].averageRating.toFixed(2) }}</td>
            <td>{{ wineRecommendation.recommendedWines[0].price }}</td>

        </tr>
        
    </tbody>
  
</table>



}

} @else {
    <p>Enter a wine name to get a recommendation</p>
}
