<form (ngSubmit)="handleSubmit()">
    <label for="wineQuery">Search for a wine</label>
    <input type="text" name="wineQuery" [(ngModel)]="wineQuery"/>
    <button type="submit">Get recommendation</button>
</form>

@if (wineRecommendation$ | async; as wineRecommendation) {
@if (wineRecommendation.recommendedWines.length > 0){
    <h2>Recommendations</h2>
    <p>{{ wineRecommendation.recommendedWines[0].title }} <button (click)="routeToWineRecommendation(wineRecommendation.recommendedWines[0].id)"> Details </button></p>
    <p>{{ wineRecommendation.recommendedWines[1].title }}</p>
}

} @else {
    <p>Enter a wine name to get a recommendation</p>
}
