

<div class="container">
	<h2>Don't like our picks? What do you like to Toast & Taste?</h2>
	<form (submit)="savePairing()">
	  <div class="form-group">
		<label for="wine">Drink This...</label>
		<input type="text" class="form-control" id="wine" name="wine" [(ngModel)]="wine" required>
	
		<label for="cheese">...With This</label>
		<input type="text" class="form-control" id="cheese" name="cheese" [(ngModel)]="cheese" required>
	  </div>
	  <button type="submit" class="btn btn-primary">Remember These!</button>
	</form>
  
	<h3></h3>
	<ul>
	  <li *ngFor="let pairing of pairings">
		{{ pairing.wine }} - {{ pairing.cheese }}
	  </li>
	</ul>
  </div>
  
  
