header {
  background-color: #ff6230;
  padding: 20px;
  text-align: center;
  
}

header h1 {
  color: #ffbe98;
  font-family: trattatello;
  font-size: 150px;
}



nav {
  display: flex;
}

.column {
  flex: 1;
  padding: 20px;
  background-color: #d599fb;
  border: 10px solid #ffbe98;
  text-align: center;
  

  a{
  color: #7669e9;
  font-family: fantasy;
  font-size: 25px;
  }
}

.login-container {
  text-align: center;
  background-color: #7669e9;
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    a{
      color:#ffbe98;
      font-family: fantasy;
      font-size: 25px;
      }
}

.user-nav {
  display: inline-block;
}

/* Rest of your CSS styles for dropdown menu, etc. */
