@if (cheeses$ | async; as cheese){
    <div>
        <h1>Recommended Pairings</h1>
    <table>
        <thead>
            <tr>
                <th>Cheese Type</th>                
                <th>Price</th>
                <th>Wine Recommendation</th>
            </tr>
        </thead>
        <tbody>
            @for(cheeseItem of cheese; let idx = $index; track cheeseItem){
                <tr>
                    <td>{{cheeseItem.kind}}</td>
                    <td>{{cheeseItem.price}}</td>
                    <td>{{cheeseItem.winePair}}</td>                 
                 <td>
                 </td>
                 @if(!cheeseItem.isFavorite){
                     <td>
                        <button (click)="favoritePairings({cheeseid: cheeseItem.id, userid: 2, id:0})">❤️</button>
                     </td>                     
                 }                 
             </tr>
         }
         <br>
         <!-- <a [routerLink]="'/favorites/'">Favorite Pairings</a> -->
         </tbody>
     </table>
 </div>
 }
 @else {
     <h1>Pairing list empty!!!</h1>
 }