<form (ngSubmit)="savepassword()">
    <div class="form-group">
        <label for="currentpassword">Current password</label>
        <input type="password" name="currentpassword" placeholder="Current password" [(ngModel)]="currentpassword" />
    </div>
  
    <div class="form-group">
        <label for="newpassword">New password</label>
        <input type="password" name="newpassword" placeholder="New password" [(ngModel)]="newpassword" />  
    </div>

    <div class="form-group">
        <label for="confirmnewpassword">Confirm password</label>
        <input type="password" name="confirmnewpassword" placeholder="Confirm new password" [(ngModel)]="confirmnewpassword" />  
    </div>
    
    <div>
        <button type="submit">Save</button>
    </div>
</form>
