form{
    max-width: 400px;
    margin: 80px auto;
    padding: 16px 16px 24px;
    box-shadow: 0 2px 32px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    color:#d599fb;
    background-color: #7559e9;
    font-family: fantasy;
  }
  
  div {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      background-color: #5e1af4;
      font-family: fantasy;
      color: #d599fb;
    }
  
  button{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-radius: 4px;
      background-color: #f8bcca;
      cursor:pointer;
      font-family: fantasy;
      color:#6219f6;
      border-color: #d599fb ;
      border-radius: .8rem;
      
  }
  
  h2{
    margin-top: 0;
    color: #555;
    padding-bottom: 1px;
    border-bottom: 1px solid #ccc;
  }
  
  label{
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 4px;
  }
  
  
  input{
    padding: 8px;
    height: 15px;
    border-radius: 4px;
    width: 80%;
    border: 3px solid #ffbe98;
    background-color: #d599fb;
  }
  