<p>Preferred Wines and Rinds 🍷🧀</p>
@if (favorites$ | async; as favoritePairs) {
	@if(cheesePairings$ |async; as cheesePairing) {
		<table>
			<thead>
			  <tr>
				<th>Cheese Type</th>	
				<th>Wine Recommendation</th>			
			  </tr>
			</thead>
			<tbody>
			  @for (favorite of favoritePairs; track favorite) {
				@for (cheesePairing of cheesePairing; track cheesePairing) {	
					@if (cheesePairing.id == favorite.cheeseId) {				
						<tr>
							<td>{{cheesePairing.kind}}</td>
							<td>{{cheesePairing.winePair}}</td>	
						</tr>
	
					}
				}
			  }
			</tbody>
		</table>			  
			
	}
}	
  @else { 
	<div>
	  <h2>Loading the goods...</h2>
	</div>
  }